<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>add articles</h1>
    <a href="/"><button>home</button></a>
    <form action="/articles/<%= article._id %>" method="post">
        <input type="text" name="title" placeholder="title" value="<%= article.title %>">
        <textarea name="description"  rows="4"> 
            <%= article.description %> </textarea>
        <input type="text" name="tags" placeholder="tags" value="<%= article.tags %>">
        <input type="text" name="author" placeholder="author" value="<%= article.author %>">
        <input type="number" name="likes" placeholder="likes" value="<%= article.likes %>">
        <input type="submit" value="submit">
    </form>
</body>
</html>